/*Marker clusters*/
.marker-cluster-pie g.arc{
  fill-opacity: 0.5;
}
.marker-cluster-pie-label {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/*Markers*/
.marker {
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-color: #444;
  border-radius: 2px;
  margin-top: -10px;
  margin-left: -10px;
}
.marker div{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/*marker categories*/
.category-alerte_alarme{
  fill: #db0000;    /* red */
  stroke: #850000;
}
.category-alerte_focus{    
  fill: #ffa500;     /* orange */
  stroke: #a96e00;
}
.category-alerte_suivi_actif{
  fill: #76D42C;     /* green */
  stroke: #559a1e;
}
.category-alerte_ferme{
  fill: #969696;      /* grey */
  stroke: #424242;
}
.category-alerte_NA{
  fill: #5a5a5a;       /* grey */
  stroke: #424242;
}
.category-evaluation{
  stroke: #a96e00;
}
.category-intervention{
  stroke: #850000;
}


/*marker icons*/
.icon-alerte_alarme{
  background-image: url(../images/alerte_alarme.png);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  background-size: 14px 14px;
}
.icon-alerte_focus{
  background-image: url(../images/alerte_focus.png);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  background-size: 14px 14px;
}
.icon-alerte_suivi_actif{
  background-image: url(../images/alerte_suivi_actif.png);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  background-size: 14px 14px;
}
.icon-alerte_ferme{
  background-image: url(../images/alerte_ferme.png);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 1px 1px;  
  background-size: 14px 14px;
}
.icon-alerte_NA{
  background-image: url(../images/alerte_NA.png);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  background-size: 14px 14px;
}
.icon-evaluation{
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #a96e00;
  background-image: repeating-linear-gradient(-45deg, #ffa500, #ffa500 2px, #b27300 2px, #b27300 4px); 
}
.icon-intervention{
  width: 18px;
  height: 18px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #850000;
  background-image: repeating-linear-gradient(-45deg, #db0000, #db0000 2px, #990000 2px, #990000 4px); 
}


/*Popup*/
.map-popup {
  min-width: 200px;
}
.map-popup span.headingtext {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 8px;
  
}
.map-popup span.attribute {
  display: block;
  font-size:1em;
}
.map-popup span.attribute-sm {
  display: block;
  font-size:0.9em;
}
.map-popup span.label {
  font-weight: bold;
  font-size: 1em;
}
.map-popup span.label-sm {
  font-weight: bold;
  font-style: italic;
  font-size:0.9em;
}

.popup_icon {
  display: inline-block;
  margin: 0px 8px 2px 0px; 
  vertical-align: bottom;
}
.popup_icon image {
  float: left; 
  width: 20px;
  height: 20px;
}

.serve_icon {
  margin-bottom: -2px;
}


