/*.container-fluid{
  margin-left: 12.5em;
  margin-right: 10px;
  padding-bottom:20px;
}*/

.leaflet-control-attribution {
    /* background: #fff; */
     background: rgba(255, 255, 255, 0.0) !important; 
    margin: 0;
}

#main-container{
	margin-left: 12.5em;
  margin-right: 0px;
  padding-bottom:0px;
  transition: 0.3s linear;
}
#main-container.nomenu {
  margin-left: 2em;
}

/* The Modal (screen background) */
/*.modal {*/
#modal-screen {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    /*padding-top: 100px;*/ /* Location of the box */
    /*padding-left: 400px;
    padding-right: 400px;*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #b2b2b2; /* Fallback color */
    background-color: rgba(0,0,0,0.65); /* Black w/ opacity */
}

/* Modal Window */
#modal-window {
  /*z-index: 999;*/ /* Sit on top */
    background-color: #fefefe;
    /*margin: auto;*/
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px 8px 8px 8px;
    /*width: 70%;*/
    /*height: 240px;*/
    /*margin-top: 5px;
    margin-left: 230px;*/

}

#modal-heading {
  font: 18px sans-serif;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  /*margin-left: 20px;
  margin-bottom: 20px;*/
}
#modal-load-update{
  font: 14px sans-serif;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  /*margin-left: 20px;
  margin-bottom: 20px;*/
}


#btn_cancel {
  margin-right: 40 !important;
  margin-left:auto !important;
  /*display:block !important;*/
  /*background-color: lightgrey; */
  /*color: black;*/
  margin-top: 100px;
}


#loader {
  font: 20px sans-serif;
  text-align: center;
  font-weight: 500;
  color: #303030;
}
progress {
  display: block;
  width: 100%;
}

/* The side menu */
#sideMenu {
  height: 100%;
  width: 12.5em;
  position: fixed;
  display: block;
  top: 0px;
  left: 0em;
  background-color: #e5e5e5; 
  /*overflow-x: hidden;*/
  padding-top: 20px;
  transition: left 0.3s linear;
}

#sideMenu.hide {
  left: -12.500em;
}

#closeMenu_btn {
  display: inline-block;
  /*vertical-align: middle;*/
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  /*margin: 1.250em;*/
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: url(../images/close.png) no-repeat; 
  background-size: 0.8em 0.8em;
}

#sideMenu_btn {
  display: none;
  vertical-align: middle;
  width: 1.563em;
  height: 1.250em;
  cursor: pointer;
  margin: 1.250em;
  position: absolute;
  top: -0.500em;
  right: -3.50em;
}

#sideMenu_btn span {
  height: 2px;
  background: grey;
  margin-bottom: 3px;
  display: block;
}
#sideMenu_btn.show{
  /*position: relative;
  left: 20px;*/
  display: inline-block;
}

hr.menu_style{
    border-color: #9e9e9e24;
    margin-top: 10px;
    margin-bottom: 10px;
}

#title-container.slimline {
  margin-left: 50px;
  max-width: 340px;
}

#dash_title{
	display: block;
	font: 18px helvetica neue,open sans,sans-serif;
	font-weight: 300;
	text-align: left;
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: 0px;
}

#random{
  font: 12px sans-serif;
  color: red;
  text-align: left;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 10px;
}

#btnIntro{
    margin-left: 40px;
    font-size: 11;
    font-family: 'helvetica neue','open sans','sans-serif';
}

#btnIntro.on {
  background-color: #E50000; 
  color: white;
}

#intro_btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro-tooltip {
  margin-top: 0px;
  min-width: 400px;
  max-width: 600px;
  font: 12px sans-serif;
}

.intro-map {
  min-width: 400px;
  max-width: 600px;
  font: 12px sans-serif;
}

.intro-timeseries {
  min-width: 400px;
  max-width: 500px;
  font: 12px sans-serif;
}

.logo{
	margin-top: 5px;
	margin-left: 0px;
	width: 72px;  
	height: 31.5px;
	display: inline-block;
}

.more_info { 
  width: 200px;
	font: 11px sans-serif;
	text-align: right;
	margin-right: 10px;
  float: right !important;
}

#menu_title {
	margin-top: 20px;
  margin-bottom: 15px;
	font: 16px sans-serif;
	color: white;
	text-align: center;
}


#map-container {
	margin-left: 0px;
  margin-right: 0px;
	margin-top: 0px; /*10px;*/
  margin-bottom: 0px; /*5px;*/
  /*position: absolute;*/
}

#map {
	height: 400px;  /*450*/
	width: 100%;  /*90%*/
	/*margin-left: 15px;
	margin-right: 25px;  */ 
	margin-top: 0px;
  margin-bottom: 0px;
	float: left;  
  /*position: absolute;*/
}
#map:hover {

}


#spinner_container {
  display: none;
  /*position: absolute;*/
  /*margin-top: 12%;*/
  /*margin-left: 42%;*/
  /*float:none;*/
  /*text-align: center;*/
  padding-top: 40px;
  margin: auto;
  font: 20px sans-serif;
  color: #505050;
}

      .epLoader, .epLoader:before, .epLoader:after {
        border-radius: 50%;
      }
      .epLoader {
        color: #ffa500;
        background: #f4f4f4;
        font-size: 11px;
        text-indent: -99999em;
        margin-top: 10px;
        /*margin: 55px auto;*/
        /*position: relative;*/
        /*position: absolute;*/
        width: 10em;
        height: 10em;
        box-shadow: inset 0 0 0 1em;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
      }
      .epLoader:before, .epLoader:after {
        position: absolute;
        content: '';
      }
      .epLoader:before {
        width: 5.2em;
        height: 10.2em;
        background: #f4f4f4; /*#0dc5c1;*/
        border-radius: 10.2em 0 0 10.2em;
        top: -0.1em;
        left: -0.1em;
        -webkit-transform-origin: 5.2em 5.1em;
        transform-origin: 5.2em 5.1em;
        -webkit-animation: load2 2s infinite ease 1.5s;
        animation: load2 2s infinite ease 1.5s;
      }
      .epLoader:after {
        width: 5.2em;
        height: 10.2em;
        background: #f4f4f4; /*#0dc5c1;*/
        border-radius: 0 10.2em 10.2em 0;
        top: -0.1em;
        left: 5.1em;
        -webkit-transform-origin: 0px 5.1em;
        transform-origin: 0px 5.1em;
        -webkit-animation: load2 2s infinite ease;
        animation: load2 2s infinite ease;
      }
      @-webkit-keyframes load2 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes load2 {
        0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

.map_title {
	font: 16px 'helvetica neue','open sans','sans-serif';
	font-weight: 300;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 1px;
  display: inline;
}

.mapinfo {
    padding: 5px 6px;
    font: 11px/11px 'helvetica neue','open sans','sans-serif';
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
 }

.mapinfo h4 {
    margin: 0 0 5px;
    color: #777;
}
 
.maplegend {
 	width: 100%;
  padding:5px;
  background-color:white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}
 
/*.mapLegend i {
    width: 18px;
    height: 18px;
    float: left;
	margin-left: 5px;
    margin-right: 10px;
    opacity: 1;
}*/

#map-legend {
    vertical-align: top;
    /*font: 11px sans-serif;*/
}
.legend-axis path, .legend-axis tick, .legend-axis line {
  	fill: none;
  	stroke: none;
}

.legend-title {
  	font: 12px sans-serif;
  	fill: #666666; /*#4F4F4F;*/
  	font-weight: 300;
}




.styled-select {
   background: url(../images/dropdown.png) no-repeat 94% -5px;
   background-color: #3b8ec2;
   font-size: 11px;
   color: white;
   width: 160px;
   height: 22px;
   overflow: hidden;
   outline: none;
   padding: 0px 4px; /*4px 11px; */
   display: inline-block;
   margin-left: 14px;
   margin-bottom: 10px;
}

.styled-select select {
   background: transparent;
   border: none;
   font: 12px sans-serif;
   color: black;
   height: 22px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 180px;
}

.rounded {
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
}

#head-val {
/*  margin-top: 12px;
  text-align: center;
  font: 12px sans-serif;
  color: black;*/
  display: inline;
    font: 16px 'helvetica neue','open sans','sans-serif';
  font-weight: 400;
}

#menu-act {
  margin-bottom: 6px;
  margin-left: 20px;
  text-align: left;
  font: 14px sans-serif;
  font-style: italic;
  color: black;
}

#activity_btns {
  /*position: fixed;*/
  /*top: 250px;*/
  margin-top: 0px;
  margin-left: 0px;
  /*height: 160px;*/
  width: 200px;
  overflow: hidden;
}

#alert_btns {
  margin-left: 20px;
  margin-right: 30px;
  text-align: right;
}

/*#filtSum {
  margin-top: 20px;
  height: 190;
}*/

.filt-sum-title {
  font: 13px sans-serif;
  color: #666666; /*#4F4F4F;*/
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 6px;
}

#win_filt-sum {
font: 11px helvetica neue,open sans,sans-serif;
    width: 100%;
    /* padding: 12px 0; */
    /* background-color: lightblue; */
    /* margin-top: 2px; */
    /* padding-left: 14px; */
    /* display: inline; */
    height: 52px; 
    overflow: auto;
}

#btn_export_all {
  /*position: fixed;
  top: 650px;*/
  margin-top: 16px;
  margin-left: 0px;
  height: 25px;
  width: 200px;
  overflow: hidden;
}

#btn_reload_data {
/*  position: fixed;
  top: 680px;*/
  margin-left: 0px;
  height: 25px;
  width: 200px;
  overflow: hidden;
}

#btn_reset_map {
/*  position: fixed;
	top: 710px;*/
	margin-left: 0px;
  margin-top: 16px;
	height: 25px;
	width: 200px;
	overflow: hidden;
}

#btn_reset_all {
/*  position: fixed;
  top: 710px;*/
  margin-top: 8px;
  margin-left: 0px;
  height: 25px;
  width: 200px;
  overflow: hidden;
}
 
.button {
  background-color: #cccccc; /* #3160b2; */
  border: none;
	border-radius: 4px;
	outline: none;
	/*outline-color: #ffff00;*/
    color: black; /* white; */
    padding: 4px 11px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    /*font-size: 11px;*/
    /*width: 160px;*/
    /*margin: 4px 2px;*/
	/*margin-left: 14px;*/
	margin-bottom: 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
	box-shadow: 0 11px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: #E50000;
	color: white;
}

.button:active {
  border-radius: 8px;
  background-color: #E50000; /* #3b8ec2; #264b8b; */
  color: white;   /* #ffff00; */
  box-shadow: 0 4px #666;
  transform: translateY(3px); 
  /* border: 1px solid #979797;  */
}

.disable {
  color: grey;
  font-style: italic;
}

.no-point {
  pointer-events: none;
}

.btn-side-nav {
  width: 160px;
  margin-left: 14px;
}


/* Activity & Alert buttons */

.btn_img_cont {
  /*display: inline-block;*/
 /* margin-top: 5px;*/
  margin-left: 4px;
  margin-right: 0px;
  float:left;
}

.btn_alt {
  width: 72px;
  margin-left: 0px;
  height: 16px;
  padding: 0px 2px;
  display: inline-block;
  font-size: 10px;
  margin-bottom: 4px;
}

.btn_alt.on {
  background: #3b8ec2;
}

.btn_alt img {  
  background: white; /*#3b8ec2;*/
  position: 0px 0px;
  opacity: 0.3;
  border-radius:1px;
  border: 1px solid;
  border-color: #444;
}

.btn_alt.on img {  
  opacity: 1.0;
  border-color: #444;
}

.btn_alt span {
  display: inline-block;
  margin-top: 1px;
  margin-left: -6px;
}
#btnAltSuiviActif span{
  margin-left: 0px;
}


.btn_acts {
  margin-top: 10px;
}

.btn_acts span {
  display: inline-block;
  margin-top: 1px;
  margin-left: -40px;
}

#btnEval_img {
    /*display: inline-block;*/
    margin: 0px 5 0 0;
    width:16px;
    height:16px; 
    border-radius:50%;
    border: 1px solid;
    border-color: #a96e00;
    /*background: #ffa500; */
    background-image: repeating-linear-gradient(-45deg, #ffa500, #ffa500 2px, #b27300 2px, #b27300 4px); 
/*float:left;*/
    opacity: 0.3;
}

#btnEval.on {
  background: #3b8ec2; 
  /*vertical-align: middle;*/
}
.btn_acts.on #btnEval_img {
  opacity: 1.0;
}


#btnInt_img {
    /*display: inline-block;*/
    margin: 0px 5 0 0;
    width:16px;
    height:16px; 
    border-radius:50%;
    border: 1px solid;
    border-color: #850000;
    /*background: #db0000;*/
    background-image: repeating-linear-gradient(-45deg, #db0000, #db0000 2px, #990000 2px, #990000 4px); 

    /*float:left;*/
    opacity: 0.3;
}
#btnInt.on {
  background: #3b8ec2; 
}
.btn_acts.on #btnInt_img {
  opacity: 1.0;
}




#btnProv {
  border-radius: 8px 0px 0px 8px;
  width: 80px;
  margin-left: 16px;
}
#btnZone {
  border-radius: 0px 8px 8px 0px;
  margin-left: -5px;
  width: 80px;
}

/*#btnProv.slimline{
  border-radius: 8px 8px 8px 8px;
  margin-right: 10px;
}

#btnZone.slimline{
  border-radius: 8px 8px 8px 8px;
}*/

.btn-lyr, .btn-riv {
  display: inline-block;
  /*//width: 80px;*/
  margin-left: 16px;
  /*//float: right;*/
}

.btn-lyr.on, .btn-filt-sum.on, .btn-riv.on, .btn_acts.on, .btn_alt.on {
  background-color: #3b8ec2; /* blue */
  color: black;   /* #ffff00; */
}

#btnRiv {
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 12px;
  margin-right: 28px;
  display: inline-block;
  float: right;
}

.selectivity-multiple-input-container {
  margin-top: 6px;
}
.selectivity-multiple-input, input[type='text'].selectivity-multiple-input {
  margin-left: 16px;
}

#timerange_buttons {
  margin-top: 30px;
  margin-right: 0px;
}
#timerange_buttons.slimline {
  margin-top: 20px;
}

#timerange_buttons.slimline2 {
  margin-left: 60px;
}

.btn-timerange {
  width: 110px;
  margin-right: 5px;
  /*float: left;*/
}

.btn-timerange.slimline {
  display: inline-block;
  width: 95px;
  margin-right: 50px;
  /*float: left;*/
}

.btn-timerange.on {
  background-color: #3b8ec2; /* #264b8b; */
  color: white;   /* #ffff00; */
}

#timeseries-container {
  width: 100%;
  margin-bottom: 10px;
}

#timeseries{
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 0px;
  height: 120px;
  width: 100%; 
  display: inline-block;
}
#timeseriesbrush{
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 0px;
  height: 60px;
  width: 100%; 
  display: inline-block;
}

.axis text {
  font: 11px sans-serif;
}
  
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y-axis-title {
  font: 12px sans-serif;
  font-weight: 300;
  fill: steelblue; /*#666666; #4F4F4F;*/
}
.ylet-axis-title {
  font: 12px sans-serif;
  font-weight: 500;
  fill: red;
}

.axis--y text{
  fill: steelblue;
}
.axis--ylet text{
  fill: red;
}

rect {
  /*fill-opacity: 0.2;*/
  transition: fill-opacity 250ms linear;
}

rect.active {
  fill-opacity: 1;
  fill: steelblue;
  /*stroke: #f00;*/
}

rect.selection {
  fill-opacity: 0.4;
  fill: darkgrey; 
}

.bar {
  fill: steelblue;
}
.bar_overlay {
  fill: transparent;
}
.bar_overlay:hover {
  fill: grey; /*#e0bb37;*/
  opacity: 0.4;
}

.playBar {
  /*fill: red;
  stroke: red;
  stroke-width: 2px;*/
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}


.bar2 {
  fill-opacity: 1;
  fill: lightgrey;
}

.bar2.active {
  fill-opacity: 1;
  fill: steelblue;
}

.line2 {
  fill: none;
  stroke: #8c8c8c;
  stroke-width: 2px;
  opacity: 0.5;
}

/*.line2_active {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}*/

.context {
  fill: grey;
}

.toolTip {
  font: 11px sans-serif;
  border-radius: 8px;
  /*background-color: white;*/
  opacity: 0.9;
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: none; /*1px solid #6F257F;*/
  padding: 6px; /*14px;*/
  box-shadow: 0 11px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*.brush rect.extent {
  fill: steelblue;
  fill-opacity: 0.125;
}
/*Color for the brush resize path 
.brush .resize path {
  fill: yellow;  /*#eee;
  stroke: #666;
}*/

/*.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}*/

.button.play{
  float: left; 
  width: 50px;
  height: 50px;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 0px;
  background: url(../images/play.png);
  background-size: 44px 44px;
  background-position:center;
  background-repeat:no-repeat; 
}

#btnPlayPause.slimline {
  margin-top: 10px;
  margin-left: 20px;
}

.button.pause{
  background: url(../images/pause.png);
  background-size: 44px 44px;
  background-position:center;
  background-repeat:no-repeat; 
}

.button.stop{
  display: none;
  float: left; 
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-right: 0px;
  background: url(../images/stop.png);
  background-size: 44px 44px;
  background-position:center;
  background-repeat:no-repeat; 
}

#btnStop.slimline {
  margin-top: 10px;
  margin-left: 10px;
}


#playMode_text {
  display: none;
  font: 11px sans-serif;
  font-style: italic;
  width: 110px;
  color: red;
  margin-top: 2px;
  margin-left: -5px;
  /*height: 100px;*/
  /*overflow: auto;*/
}

#playMode_text.slimline {
  margin-top: 10px;
  margin-left: 10px;
}

